body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    /* background-color: red; */
    width: 85%;
    height: 150px;
}

.absolute {
    position:absolute;
    /* background-color: grey; */
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px
}

.counter {
    width: 200;
    height: 200;
    border: 10px;
    border-bottom: 5px solid rgb(0, 12, 150);
    border-top: 5px solid rgb(0, 12, 150);
    border-left: 5px solid rgb(0, 12, 150);
    border-right: 5px solid rgb(0, 12, 150);
    background-color: rgb(216, 118, 32);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(255,0,0,1) 100%);
    color: white;
    border-radius: 25px;
    flex-shrink: 0;
    padding: 25px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 3px grey;
}

.healthBar1 {
    height: 50px;
    width: 100%;
    background-color: rgb(220, 169, 0);
    border: 5px solid rgb(0, 12, 150);
    
}

.healthBar2 {
    height: 50px;
    width: 100%;
    background-color: rgb(220, 169, 0);
    border: 5px solid rgb(0, 12, 150);

}

.maxHealth1 {
    position:absolute;
    width: 100%;
    height: 50px;
    background-color: rgb(188, 43, 43);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border: 5px solid rgba(0, 12, 150);
    /* border-top: 5px solid rgb(0, 0, 0);
    border-left: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0); */

}

.maxHealth2 {
    position:absolute;
    width: 100%;
    height: 50px;
    background-color: rgb(188, 43, 43);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    border-bottom: 5px solid rgb(0, 12, 150);
    border-top: 5px solid rgb(0, 12, 150);
    border-left: 5px solid rgb(0, 12, 150);
    border-right: 5px solid rgb(0, 12, 150);

}

.container {
    position: relative;
    height: 50px;
    width: 100%;
}
button{
    position: absolute;
    background-color:#fc9404;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(255,0,0,1) 100%);
    border-bottom: 5px solid rgba(0, 12, 150, 0.6);
    border-top: 5px solid rgb(0, 12, 150, 0.6);
    border-left: 5px solid rgb(0, 12, 150, 0.6);
    border-right: 5px solid rgb(0, 12, 150, 0.6);
    color:white;
    margin-top: 20%;
   margin-left:52% ;
   width: 200px; 
   height: 100px;
   border-radius: 20px;
   font-style: italic;
   font-size:20px;
   font-weight: bold;

}

.key-box {
    position: relative;
    width: 100%;
    height: 80%;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
}

.left-keyboard {
    width: 15%;
    display: flex;
    justify-content: center;

    align-items: flex-end;
}

.right-keyboard {
    width: 15%;    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.centered-space {
    width: 70%;
}

.keyboard-box {
    width: 100%;
    height: 250px;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.upper-row {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-row {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-row {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.key {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 18px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.716);
}
.symbols{
    font-size: 22px;
    padding: 10px 18px;
}

.arrowUp{
    padding: 10px 22px;
}