body {
    padding: 0;
    margin: 0;
    background-image: url(./img/carga.png) ;
    background-size: 100%;
}

.button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    position: absolute;
    top: 60%;
    left: 43%;
    text-decoration: none;
    color: white

}

a:hover {
    color: white
}